<!DOCTYPE html>
{% load static %}
<html>
    <head>
    <style>
<!--        h1{-->
<!--        color:#fff;-->
<!--        }-->
<!--        input{-->
<!--            color:#fff;-->
<!--        }-->
    </style>

    </head>
    <body>
        <h1>Hello World</h1>
        <form action='/articles/' method='GET'>
            <input type='text' name='q' />
            <input style="color:#000;" type='submit' />
        </form>

        {% block content %}
        <h3>This will be replaced</h3>
        {% endblock content %}

    </body>
</html>